/*
Author: Jonathan Scalise
Disclaimer: TSN images, name, and stories are property of Bell Media.
*/
html{
    width: 580px;
    background-color: white; 
}
body{
    border: 2px solid black;
    background-image: url('../images/storyBackground.jpg');
    margin: 3px;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.7);
    box-shadow: 0 0 7px rgba(0,0,0,0.7);
}
#banner{
     height: 95px;
     text-align: center;
}
#mainlogo{
    height: 100%;
    display: inline-block;

}
#mainlogo img{
    margin-top: 30px;
    height: 53px;
    width: 200px;
}
#storyContainer{
    padding-left: 6px;
    padding-top: 8px;
    text-align: center;
}
.story {
    margin-bottom: 10px;
    text-align: left;
    height: 100px;
    margin-right: 4px;
}


#spinner{
    display: inline-block;
    margin-top: 20px;
}
.spinnerIcon img{
    width:  60px;
    height: 60px;
}
.spinnerText{
    font-size: 20px;
    font-family: "../fonts/pillgothic.ttf";
    font-weight: 500;
    margin-top: 10px;
}
#noStoryMessage, #noConnectionMessage{
   display: inline-block;
   text-align: center;
   font-size: 20px; 
   font-family: "../fonts/pillgothic.ttf";
}



.picContainer {
    margin-right: 10px;
    float: left;
    border: 2px solid black;
    vertical-align: middle;
    margin-left: 10px;
    display: block;
    width: 150px;
    height: 90px;
}
.pic{
    width: 150px;
    height: 90px;
}
.picDefault{
    width: 55px;
    height: 65px;
    margin: 12px 47px;
}
.picContainer{
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.picContainer:hover{
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.7);
    box-shadow: 0 0 7px rgba(0,0,0,0.7);
}
.picContainer a:focus{
    outline: none;
}



.dateAndTitle{
    padding-top: 4px;
    position: relative;
    z-index: 1;
}
.title a:link, 
.title a:visited,
.title a:active{
    text-decoration: none;
    font-size: 14px;
}
.title a:hover{
    text-decoration: underline;
    color: red;
}
.date{
    margin-bottom: -2px;
}
.description{
    font-size: 10px;
}


.tags{
    margin-left: 7px;
}
.tags a:link, 
.tags a:visited,
.tags a:active{
    color: #545454;
    text-decoration: none;
}
.tags a:hover{
    color: red;
    text-decoration: underline;
}
.tag{
    font-size: 9px;
    margin-right: 11px;
}


.thumbnails{
    margin-left: 1px;
    width: 80px !important;/*will only ever have 2 icons */
}
.videoThumbnail, .audioThumbnail{
    height: 13px;
    width : 13px;
    margin-bottom: -2.5px;
    margin-left: 5px;
}
.textThumbnail{
    height: 13px;
    width : 10px;
    margin-bottom: -2.5px;
    margin-left: 5px;
}

